@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(39, 39, 39);
    background-image: url("../img/aatrox-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}

header .logo{
    width: 100px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation ul li a{
    color: white;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .6s;
}

.navigation ul li a:hover{
    border-bottom: 2px solid white;
}

.navigation .pesquisa{
    width: 35px;
    cursor: pointer;
    filter: invert(1);
}

.navigation .perfil{
    width: 35px;
    cursor: pointer;
    filter: invert(1);
}

/* main */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60em;
    margin-top: 1.5em;
}
main section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5em;
}

main section .logo-aatrox{
    width: 50em;
    margin: 3em 0;
}

main section .btn-box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-box .btn{
    padding: 20px 45px;
    background-color: rgb(19, 26, 23);
    color: white;
    margin-bottom: 2em;
    border-bottom: 2px solid white;
    border-radius: 5px 5px 0 0;
    transition: all .3s;
}

.btn-box .btn:hover{
    background-color: rgb(54, 54, 54);
}

.btn-box .btn:focus{
    background-color: rgb(54, 54, 54);
}

main section .text{
    color: white;
    line-height: 22px;
}

.btn-box2{
    display: flex;
    align-items: center;
    color: white;
    background: rgb(19, 26, 23);
    padding: 15px 45px;
    margin-top: 2em;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid white;
    font-size: 25px;
    gap: 40px;
    cursor: pointer;
    transition: all .3s;
}
.btn-box2:hover{
    background-color: rgb(54, 54, 54);
}

.btn-box2 .play{
    width: 1.4em;
    filter: invert(1);
}

@media (width >= 500px){
    header{
        padding: 15px 3%;
    }
}

@media (width >= 500){
    section{
        padding: 0 12%;
    }
}